<template>
	<f7-page>
		<f7-navbar title="Edit service" back-link="Back"></f7-navbar>

		<f7-block-title v-if="currentProjectName.length > 0">Проект: {{currentProjectName}}</f7-block-title>
		

		<f7-list no-hairlines-md v-if="currentService !== undefined">
			<f7-list-input
				:bgColor="titleColor"
				label="Название сервиса"
				type="text"
				placeholder="Название сервиса"
				@input="clonedService.title = $event.target.value"
				:value="clonedService.title"
				clear-button
			>
			</f7-list-input>

			<f7-list-input
				label="Ссылка"
				type="text"
				placeholder="Ссылка"
				@input="clonedService.link = $event.target.value"
				:value="clonedService.link"
				clear-button
			>
			</f7-list-input>

			<f7-list-input
				label="Логин"
				:type="hiddenLogin ? 'password' : 'text'"
				placeholder="Логин"
				@input="clonedService.login = $event.target.value"
				:value="clonedService.login"
				clear-button
			>	
				<div slot='inner-end' @click="showLogin" v-if="clonedService.login !== ''">
					<v-icon class="eye-icon" v-bind:class="{'active': !hiddenLogin}" name="eye"></v-icon>
				</div>
			</f7-list-input>

			<f7-list-input
				label="Пароль"
				:type="hiddenPassword ? 'password' : 'text'"
				placeholder="Пароль"
				@input="clonedService.password = $event.target.value"
				:value="clonedService.password"
				clear-button
			>
				<div slot='inner-end' @click="showPassword" v-if="clonedService.password !== ''">
					<v-icon class="eye-icon" v-bind:class="{'active': !hiddenPassword}" name="eye"></v-icon>
				</div>
			</f7-list-input>

			<f7-list-input
				label="Примечание"
				type="textarea"
				placeholder="Примечание"
				@input="clonedService.note = $event.target.value"
				:value="clonedService.note"
			>
			</f7-list-input>
		</f7-list>

		<div class="block">
			<div class="row">
				<f7-button class="c-button" fill round big color="green" text="Сохранить" @click="saveChanges"></f7-button>
				<f7-button class="c-button" fill round big color="red" text="Удалить" @click="deleteService"></f7-button>
			</div>
		</div>
	</f7-page>
</template>

<script>
import {main, Search} from "../helper/main.js";
export default {

	data() {
		return {
			currentProjectName: '',
			currentService: {},
			clonedService: {},
			hiddenPassword: true,
			hiddenLogin: true,
			titleValidator: false
		};
	},
	created() {
		this.updateLocalData()
		
		main.$on('onMainUpdate', () => {
			this.updateLocalData()
		});
		
	},
	methods: {
		saveChanges() {
			if (this.clonedService.title.length < 1) {
				this.titleValidator = true;
				return;
			}
			main.updateService(this.clonedService)
			this.$f7router.back(null, {
				force: true,
			});
		},

		updateLocalData() {
			let proj_id = this.$f7route.params.project_id;
			let serv_id = this.$f7route.params.service_id;
			if (this.currentProjectName == undefined) return;
			this.currentProjectName = Search.in(main.mainData).getProject(proj_id).title;
			this.currentService = Search.in(main.mainData).getService(proj_id, serv_id);
			this.clonedService = this.cloneService(this.currentService);
		},

		deleteService() {
			main.deleteService(this.currentService.id);

			this.$f7router.back(null, {
				force: true,
			});
		},
		showPassword() {
			this.hiddenPassword = !this.hiddenPassword;
		},
		showLogin() {
			this.hiddenLogin = !this.hiddenLogin;
		},
		cloneService(obj) {
			let clonedObj = {}
			for (let key in obj) {
				if (obj.hasOwnProperty(key)) {
					clonedObj[key] = obj[key];
				}
			}
			return clonedObj
		}
	},
	computed: {
		titleColor() {
			if (this.titleValidator) {
				if (this.clonedService.title.length < 1) {
					console.log('validator: ', this.titleValidator)
					return 'red'
				} else {
					this.titleValidator = false
					return ''
				}
			}

		}
	}
};
</script>

<style scoped>
	.c-button {
		width: 60%;
		margin: 0 auto;
		display: block;
		margin-bottom: 20px;
	}

	.input-clear-button {
		margin-right: 20px;
	}

	.eye-icon {
		position: absolute;
		right: 70px;
		margin-left: -60px;
		bottom: 14px;
		color: #C3C3C3;
		width: 15px;
		height: 15px;
		padding: 5px;
		text-align: center;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.12);
		color: #686868;
	}

	.eye-icon.active {
		color: #545454;
		background: rgba(0, 0, 0, 0.23);
	}

	.padding-right {
		/*padding-right: 50px !important;*/
	}
</style>
