<template>
	<f7-page>
		<f7-navbar class="main-nav">
			<f7-nav-left>
				<f7-link icon-if-ios="f7:menu" icon-if-md="material:menu" panel-open="left"></f7-link>
			</f7-nav-left>
			<f7-nav-title>PassGuard</f7-nav-title>
			<f7-nav-right>
				<f7-button class="reload-btn" color="green" round @click="reloadAll">
					<v-icon name="sync"></v-icon>
				</f7-button>
			</f7-nav-right>
		</f7-navbar>

		<f7-list>
			<f7-list-item
				v-for="project in data"
				:v-if="project.length > 0"
				:title="project.title"
				:link=" '/project/' + project.id"
				:key="project.id"
				:projectData="project"
			>
				<v-icon :name="getIconName(project.icon)" slot="media" :style="'color:' + getColor(project.color_id)"></v-icon>
			</f7-list-item>
		</f7-list>

		<f7-login-screen class="demo-login-screen" :opened="loginScreenOpened" @loginscreen:closed="loginScreenOpened = false">
			<f7-page login-screen>
			<f7-login-screen-title>Введите логин и пароль</f7-login-screen-title>
			<f7-list form>
				<f7-list-input
					label="Login"
					type="text"
					placeholder="Your login"
					:value="login"
					@input="login = $event.target.value"
				></f7-list-input>
				<f7-list-input
					label="Password"
					type="password"
					placeholder="Your password"
					:value="password"
					@input="password = $event.target.value"
				></f7-list-input>
			</f7-list>
			<f7-list>
				<f7-list-button @click="signIn">Sign In</f7-list-button>
			</f7-list>
			</f7-page>
		</f7-login-screen>
	</f7-page>
</template>



<script>
import {main} from "../helper/main.js";
export default {
	data() {
		return {
			data: 	[],
			colors: [],
			loginScreenOpened: false,
			login: 'root',
			password: '5452050REdo_',
		}
	},
	methods: {
		getIconName(str) {
			return str.split('-')[1]
		},

		getColor(id) {
			let color = this.colors.find(el=>{
				return el.id == id;
			})
			if (color !== undefined) {
				return color.rgba == 'rgba(0,0,0,0)' ? 'rgba(0,0,0,0.4)' : color.rgba;
			}
		},
		reloadAll() {
			main.updateData();
		},
		signIn() {
			const self = this;
			const app = self.$f7;

			let userData = {
                login: this.login,
                password: this.password,
			}
            main.getAccessToken(userData);
      },

	},

	mounted() {
		if (localStorage.getItem('access_token') == null) {
			this.loginScreenOpened = true
		} else {
			this.loginScreenOpened = false
		}

		main.$on('onLogIn', (correct)=>{
			console.log('correct', correct)
			if (correct) {
				this.$f7.loginScreen.close();
			} else {
				this.$f7.dialog.alert('Введен неправильный логин или пароль', 'Ошибка', () => {});
			}
		})
	},

	created() {
		this.data = main.mainData;
		this.colors = main.colors;

		main.$on('onMainUpdate', (incomingData) => {
			console.log('HOME update')
			this.data = incomingData;
		})
		main.$on('onColorLoaded', () => {
			this.colors = main.colors
		})
	}
};
</script>

<style scoped>
	.reload-btn {
		width: 35px;
		height: 4px;
		background: transparent;
		color: #fff;
		min-height: 35px;
		min-width: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 40px;
		border: 2px solid #fff;
	}

	.login-btn {
		min-width: 200px;
		width: 200px;
		margin: 0 auto;
	}

	.red  {
		justify-content: center;
		align-items: center;
		margin: 40px;
		border: 2px solid #fff;
	}
</style>