<template>
	<f7-page>
		<f7-navbar title="Новый сервис" back-link="Back"></f7-navbar>
		<f7-block-title>Проект:</f7-block-title>

		<f7-list no-hairlines-md>
			<f7-list-input
				:bgColor="titleColor"
				label="Название сервиса"
				type="text"
				placeholder="Название сервиса"
				@input="currentService.title = $event.target.value"
				:value="currentService.title"
				clear-button
			>
			</f7-list-input>
			<f7-list-input
				label="Ссылка"
				type="text"
				placeholder="Ссылка"
				@input="currentService.link = $event.target.value"
				:value="currentService.link"
				clear-button
			>
			</f7-list-input>
			<f7-list-input
				label="Логин"
				:type="hiddenLogin ? 'password' : 'text'"
				placeholder="Логин"
				@input="currentService.login = $event.target.value"
				:value="currentService.login"
				clear-button
			>
				<div slot='inner-end' @click="showLogin">
					<v-icon v-if="currentService.login.length > 0" class="eye-icon" v-bind:class="{'active': !hiddenLogin}" name="eye"></v-icon>
				</div>
			</f7-list-input>
			<f7-list-input
				label="Пароль"
				:type="hiddenPassword ? 'password' : 'text'"
				placeholder="Пароль"
				@input="currentService.password = $event.target.value"
				:value="currentService.password"
				clear-button
			>
				<div slot='inner-end' @click="showPassword">
					<v-icon v-if="currentService.password.length > 0" class="eye-icon" v-bind:class="{'active': !hiddenPassword}" name="eye"></v-icon>
				</div>
			</f7-list-input>
			<f7-list-input
				label="Примечание"
				type="text"
				placeholder="Примечание"
				@input="currentService.note = $event.target.value"
				:value="currentService.note"
				clear-button
			>
			</f7-list-input>
		</f7-list>


		<div class="block">
			<div class="row">
				<!-- <f7-button class="c-button" fill round big color="green" text="Сохранить" @click="save" :href="'/project/' + currentService.project_id"></f7-button> -->
				<f7-button class="c-button" fill round big color="green" text="Сохранить" @click="save"></f7-button>
			</div>
		</div>
	</f7-page>
</template>

<script>
import {main, Search} from "../helper/main.js";
export default {
	data() {
		return {
			hiddenPassword: true,
			hiddenLogin: true,
			currentService: {
				id: null,
				project_id: null,
				title: "",
				link: "",
				login: "",
				password: "",
				note: "",
				created_at: "",
				updated_at: ""
			},
			titleValidator: false
		};
	},
	created() {
		this.currentService.project_id = this.$f7route.params.project_id;
	},

	methods: {
		save() {
			if (this.currentService.title.length < 1) {
				this.titleValidator = true;
				return;
			}
			main.saveService(this.currentService)
			this.$f7router.back('/project/' + this.currentService.project_id, {
				force: true,
				ignoreCache: true,
			})
		},
		showPassword() {
			this.hiddenPassword = !this.hiddenPassword;
		},
		showLogin() {
			this.hiddenLogin = !this.hiddenLogin;
		}
	},
	computed: {
		titleColor() {
			if (this.titleValidator) {
				if (this.currentService.title.length < 1) {
					console.log('validator: ', this.titleValidator)
					return 'red'
				} else {
					this.titleValidator = false
					return ''
				}
			}

		}
	}
};
</script>

<style scoped>
.c-button {
	width: 60%;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}
.eye-icon {
	position: absolute;
	right: 70px;
	bottom: 14px;
	color: #C3C3C3;
	width: 15px;
	height: 15px;
	padding: 5px;
	text-align: center;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.12);
	color: #686868;
}

.eye-icon.active {
	color: #545454;
	background: rgba(0, 0, 0, 0.23);
}
</style>
