<template>
	<f7-page>
		<f7-navbar title="Добавить проект"></f7-navbar>
			<div v-if="onlineStatus">
				<f7-list no-hairlines-md>
					<f7-list-input
						:bgColor="titleColor"
						label="Название проекта"
						type="text"
						placeholder="Название проекта"
						clear-button
						@input="newProject.title = $event.target.value"
						:value="newProject.title"
					>
					</f7-list-input>
					<f7-list-input
						label="Ссылка"
						type="text"
						placeholder="Ссылка"
						clear-button
						@input="newProject.link = $event.target.value"
						:value="newProject.link"
					>
					</f7-list-input>
				</f7-list>

				<f7-block-title>Выбрать цвет иконки:</f7-block-title>
				<f7-block>
					<div class="color-wrapper">
						<f7-button
							class="color-item"
							fill
							v-for="color in colors"
							:key="color.id"
							:style="'background:' + color.rgba"
							:class="{picked: color.id == pickedColorId}"
							@click="setColor(color.id)"
						></f7-button>
					</div>
				</f7-block>

				<f7-block-title>Выбрать иконку:</f7-block-title>
				<f7-block>
					<div class="color-wrapper">
						<f7-button
							class="icon-item"
							color="gray"
							fill
							v-for="icon in icons"
							:key="icon.id"
							:class="{picked: icon.id == pickedIconId}"
							:style="'background:' + getColor(pickedColorId)"
							@click="setIcon(icon.id)"
						>
							<v-icon :name="trimIconName(icon.class)"></v-icon>
						</f7-button>
					</div>
				</f7-block>

				<div class="block">
					<div class="row">
						<f7-button class="c-button" fill round big color="green" text="Сохранить" @click="saveProject"></f7-button>
					</div>
				</div>

				<div class="block">
					<div class="row">
						<f7-button class="c-button" fill round big color="red" text="Clear cache" @click="clearCache"></f7-button>
					</div>
				</div>

			</div>
			<div v-if="!onlineStatus">
				<f7-block-title>Внимание!</f7-block-title>
				<f7-block strong>
					<p>Нет подключения к интернету</p>
					<p>Добавление нового проекта невозможно. Приложение находится в режиме просмотра</p>
				</f7-block>
			</div>
	</f7-page>
</template>
<script>
import {main} from "../helper/main.js";
export default {
	data() {
		return {
			newProject: {
				title: '',
				link: '',
				icon_id: '1',
				color_id: '1'
			},
			colors: [],
			icons: [],
			pickedColorId: '1',
			pickedIconId: '1',
			onlineStatus: true,
			titleValidator: {
				on: false,
			}
		}
	},
	methods: {
		saveProject() {

			if (this.newProject.title.length < 1) {
				this.titleValidator.on = true;
				return;
			}
			main.saveProject(this.newProject)
			this.$f7.panel.close()
			this.newProject = {
				title: '',
				link: '',
				icon_id: '1',
				color_id: '1'
			};
			this.pickedColorId = '1';
			this.pickedIconId = '1';
		},
		trimIconName(str) {
			return str.split('-')[1]
		},

		setColor(id) {
			this.pickedColorId = id;
			this.newProject.color_id = id
		},

		setIcon(id) {
			this.pickedIconId = id;
			this.newProject.icon_id = id
		},

		getColor(id) {
			let color = this.colors.find(el=>{
				return el.id == id
			})
			
			if (color !== undefined) {
				return color.rgba == 'rgba(0,0,0,0)' ? 'rgba(0,0,0,0.4)' : color.rgba;
			}
		},

		clearCache() {
			localStorage.clear()
		},
	},

	computed: {
		titleColor() {
			if (this.titleValidator.on) {
				if (this.newProject.title.length < 1) {
					return 'red'
				} else {
					this.titleValidator.on = false
					return ''
				}
			}

		}
		
	},

	created() {
		this.onlineStatus = main.online;
		main.$on('onConnectUpdate', (state)=>{
			this.onlineStatus = state;
			this.colors = main.colors;
			this.icons = main.icons;
		}),
		main.$on('onColorLoaded', ()=>{
			this.colors = main.colors;
		}),
		main.$on('onIconsLoaded', ()=>{
			this.icons = main.icons;
		})

	}
};
</script>

<style>
	.c-button {
		width: 60%;
		margin: 0 auto;
		display: block;
		margin-bottom: 20px;
	}
	.color-wrapper {
		display: flex;
		justify-content: space-around;
	}
	.color-item {
		width: 30px !important;
		height: 30px !important;
		padding: 0 !important;
		flex: 0 0 20px;
		margin: 10px;
		border-radius: 2px;
		min-width: 30px !important;
		border: 2px solid #858585 !important;
		
	}

	.icon-item {
		width: 40px !important;
		height: 40px !important;
		padding: 0 !important;
		flex: 0 0 40px;
		margin: 10px;
		border-radius: 2px;
		min-width: 30px !important;
		border: 2px solid #858585 !important;
		color: red;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.icon-item.picked {
		border: 2px solid #fff !important;
	}

	.color-item.picked {
		border: 2px solid #fff !important;
	}
	
</style>