<template>
	<f7-page>
		<f7-navbar title="Project" back-link="Back"></f7-navbar>

		<f7-block>
			<f7-row class="v-align-center">
				<f7-col width="75">
					<f7-block-title class="m-title">Проект: <strong>{{currentProject.title}}</strong></f7-block-title>
				</f7-col>
				<f7-col v-if="onlineStatus" width="25">
					 <f7-button class="m-button" fill :href="'/project-editor/' + currentProject.id"><v-icon name="pencil-alt"></v-icon></f7-button>
				</f7-col>
			</f7-row>
			<div class="custom-row" v-if="currentProject.link.length > 0">
				<f7-block-title class="m-title" >Link: <br> <strong class="m-blue">{{currentProject.link}}</strong></f7-block-title>
				<f7-button class="link-button" fill :href="currentProject.link" external><v-icon name="link"></v-icon></f7-button>
			</div>
		</f7-block>
		
		<f7-list v-if='groups.length > 0'>
			<f7-list-item
				v-for="serviceItem in groups"
				:title="serviceItem.title"
				:key="serviceItem.id"
				:link="'/service/' + serviceItem.project_id + '/' + serviceItem.id "
			>
			</f7-list-item>
		</f7-list>
	</f7-page>
</template>

<script>
import {main, Search} from '../helper/main.js';

export default {
	data() {
		return {
			currentProject: {},
			groups: [],
			onlineStatus: true
		}
	},
	created() {
		let groups = [];
		this.updateData();
		this.onlineStatus = main.online;
		
	},
	mounted() {
		main.$on('onMainUpdate', () => {
			this.updateData()
		});
		main.$on('onConnectUpdate', (state)=>{
			this.onlineStatus = state;
		});
	},
	methods: {
		updateData() {
			let id = this.$f7route.params.id;
			this.currentProject = Search.in(main.mainData).getProject(id);
			if (this.currentProject == undefined) {
				return
			} else {
				this.groups = this.currentProject.groups;
			}
		}
	},
	
};
</script>

<style scoped>
	.m-title {
		margin: 0;
	}

	.v-align-center {
		align-items: center;
		justify-content: space-between;
	}

	.m-button {
		flex-shrink: 0;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		padding: 0;
		float: right;
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
	}

	.link-button {
		flex-shrink: 0;
		width: 30px;
		height: 30px;
		min-width: 30px;
		border-radius: 5px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		margin-left: auto;
		margin-right: 15px;
	}

	.m-blue {
		color: #416EED;
	}

	.custom-row {
		display: flex;
		align-items: center;
		margin-top: 30px;
	}
</style>