<template>
	<f7-page>
		<f7-navbar title="Project editor" back-link="Back"></f7-navbar>
		<h1 class="c-title" v-if="pickedProject !== undefined">Проект: {{pickedProject.title}}</h1>
		
		<f7-block-title>Существующие сервисы:</f7-block-title>
		<f7-list>
			<f7-list-item 
				v-if="pickedProject !== undefined"
				v-for="service in projectServices"
				:key='service.id'
				:title="service.title"
				:footer="'Последнее обновление: ' + getDate(service.updated_at)"
				after="Edit"
				:link="'/edit-service/' + pickedProject.id + '/' + service.id"
			></f7-list-item>
		</f7-list>


		<f7-fab v-if="pickedProject !== undefined" position="right-bottom" slot="fixed" color="blue" :href="'/new-service/' + pickedProject.id">
			<f7-icon ios="f7:add" md="material:add"></f7-icon>
		</f7-fab>
		<f7-fab position="left-bottom" slot="fixed" color="red" @click="deleteProject">
			<v-icon name="trash"></v-icon>
		</f7-fab>
	</f7-page>
	


</template>

<script>
import {main, Search} from "../helper/main.js";
export default {
	name: 'project-editor',
	data() {
		return {
			pickedProject: {},
			projectServices: [],
		}
	},
	methods: {
		getDate(inputDate) {
			let d = new Date(+inputDate)
			let date = d.getDate();
			let month = d.getMonth()+1;
			let year = d.getFullYear();
			if (String(date).length < 2) {
				date = '0' + date;
			}
			if (String(month).length < 2) {
				month = '0' + month;
			}
			return String(date + '.' + month + '.' + year);
		},

		deleteProject() {
			main.deleteProject(this.pickedProject.id)

			this.$f7router.back('/', {
				force: true,
				ignoreCache: true,
			})
		},
	},

	created() {
		let id = this.$f7route.params.project_id;

		this.pickedProject = Search.in(main.mainData).getProject(id);
		this.projectServices = this.pickedProject.groups;
		
		main.$on('onMainUpdate', ()=>{
			this.pickedProject = Search.in(main.mainData).getProject(id);
			if (this.pickedProject == undefined) return;
			this.projectServices = this.pickedProject.groups;
		})
	}
};


</script>

<style scoped>
.c-title {
	margin: 32px 16px;
	color: #909090;
}

.c-button {
	position: absolute;
	right: 50px;
	bottom: 50px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 0;
	font-size: 20px;
	background: #2196f3;
	text-align: center;
	line-height: 60px;
	position: relative;
	color: #fff;
}

.m-button {
	flex-shrink: 0;
	width: 40px;
	height: 60px;
	border-radius: 50%;
	padding: 0;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
</style>


