<template>
	<f7-page>
		<f7-navbar title="Service" @click="routerHandler" back-link="Back"></f7-navbar>
		<f7-block class="margin15">
			<f7-row class="align-center">
				<f7-col width="75" class="v-align-center">
					<f7-block-title>{{localGroup.title}}</f7-block-title>
				</f7-col>
				<f7-col width="25">
					<f7-button class="share-btn" fill round big color="gray" @click="share"><v-icon name="share-alt"></v-icon></f7-button>
				</f7-col>
			</f7-row>
		</f7-block>
		<f7-list>
			<f7-list-item header="Ссылка:" v-if="localGroup.link !== ''" :title=" localGroup.link">
				<f7-button class="link-button" fill :href="localGroup.link" external @click="gotoExternalLink(localGroup.link)"><v-icon name="link"></v-icon></f7-button>
			</f7-list-item>
			
			<f7-list-item header="Логин:" v-if="localGroup.login !== ''" :title=" localGroup.login">
				<div @click="copy(localGroup.login)">
					<v-icon class="copy-icon" name="copy"></v-icon>
				</div>
			</f7-list-item>

			<f7-list-item header="Пароль:" v-if="localGroup.password !== ''" :title=" localGroup.password">
				<div @click="copy(localGroup.password)">
					<v-icon class="copy-icon" name="copy"></v-icon>
				</div>
			</f7-list-item>
			
			<f7-list-item header="Дата последнего обновления:" v-if="localGroup.updated_at !== ''" :title=" transformDate(localGroup.updated_at)"></f7-list-item>
			
			<f7-list-item header="Дата создания:" v-if="localGroup.created_at !== ''" :title=" transformDate(localGroup.created_at)"></f7-list-item>
		</f7-list>

		<f7-block v-if="localGroup.note !== ''">
			<f7-block-header>Note:</f7-block-header>
			<p>{{localGroup.note}}</p>
		</f7-block>
	</f7-page>
</template>

<script>
import {main, Search} from '../helper/main.js';
export default {
	data() {
		return {
			localGroup: {}
		}
	},
	created() {
		let proj_id = this.$f7route.params.project_id;
		let service_id = this.$f7route.params.service_id;

		let currentGroup = Search.in(main.mainData).getService(proj_id, service_id)
		this.localGroup = currentGroup

		main.$on('onMainUpdate', () => {
			this.localGroup = Search.in(main.mainData).getService(proj_id, service_id)
		})
	},
	methods: {
		transformDate(value) {
			let d = new Date(+value);
			let date = d.getDate();
			let month = d.getMonth()+1;
			let year = d.getFullYear();
			if (String(date).length < 2) {
				date = '0' + date;
			}
			if (String(month).length < 2) {
				month = '0' + month;
			}
			return String(date + '.' + month + '.' + year);
		},
		copy(text) {
			cordova.plugins.clipboard.copy(text, ()=>{
				console.log('success')
			}, () =>{
				console.log('fail')
			})
		},
		routerHandler() {
			this.$f7router.back('/', {
				ignoreCache: true,	
			})
		},
		gotoExternalLink(link) {
			console.log('код перехода по ссылке');
		},
		share() {
			let msg = msgFromObject(this.localGroup, ['title', 'login', 'password', 'note'])
			console.log(msg)
			window.plugins.socialsharing.share(msg)
		}
	}
};

function msgFromObject(obj, arr) {
	let text = '';
	for(let key in obj) {
		
		if (arr.indexOf(key) !== -1) {
			if (key == undefined) continue
			text += key + ": " + obj[key] + '\n'
		}
		
	}
	return text
}

</script>

<style scoped>
.copy-icon {
	color: #ccc;
}

.link-button {
	flex-shrink: 0;
	width: 30px;
	height: 30px;
	min-width: 30px;
	border-radius: 5px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin-left: 30px;
}

.share-btn {
	max-width: 50px;
	width: 50px;
	min-width: 50px;
	height: 50px !important;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
}

.align-center {
	align-items: center;
}

.block-title {
	margin: 0;
}

.v-align-center {
	display: flex;
	align-items: center;
}

.margin15 {
	margin-top: 15px;
	margin-bottom: 0;
}
</style>